@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&display=swap');
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.appWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(36, 33, 33);
}

.navBar {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.navBar img {
  width: 13rem;
  border-radius: 0.2rem;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem black);
}

.logoBack {
  filter: drop-shadow(0.1rem 0.1rem 0 rgb(82, 82, 82));
}

.logoWrapper {
  padding: 1rem;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 90vh;
  background-color: rgb(36, 33, 33);
  display: grid;
  grid-template-rows: 1fr 8fr 0.5fr;
}

.moviesBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.card {
  height: 90%;
  width: 80%;
  margin: 0 3rem;
  position: relative;
  background-color: transparent;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1rem;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover .innerCard {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
}

.cardFront {
  background-color: white;
  color: black;
}

.cardBack {
  background-color: rgb(43, 42, 42);
  color: goldenrod;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card img {
  width: 100%;
  max-height: 25rem;
  object-fit: fill;
}

.navLinksWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLinksWrapper ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navLinksWrapper ul li a {
  color: goldenrod;
  font-size: 2rem;
  margin-right: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.6s ease-in-out;
}

.navLinksWrapper ul li a:hover {
  color: rgb(131, 99, 20);
  background-color: white;
  border-radius: 0.2rem;
  transition: all 0.6s ease-in-out;
}

.cardInfowrapper {
  padding: 0 0.5rem;
}

.cardBackLbl {
  display: block;
  margin-top: 0.5rem;
}

.contentHeading {
  font-weight: 900;
  font-size: 1.5em;
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 12.5rem;
  color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------------textAnimation--------------------------------------------------------------------*/

@keyframes shine {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.rating {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: goldenrod;
  color: white;
  width: 20%;
  height: 10%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 0.5rem;
  border-bottom: 0.1rem solid rgb(83, 83, 83);
  border-right: 0.1rem solid rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratingIcon {
  color: black;
  font-size: 1.3rem;
  filter: drop-shadow(0.1rem 0.2rem 0 rgb(245, 185, 35));
}

.moviePoster {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.moviesFoter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.movieDirector {
  font-family: 'Kaushan Script', cursive;
}

.paginationBtn {
  border-radius: 0.2rem;
  background-color: goldenrod;
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
}

.paginationBtn:hover {
  background-color: rgb(243, 184, 36);
}

.paginationBtn:disabled {
  color: black;
  background-color: rgb(184, 139, 28);
}

.searchBtn {
  padding: 0.3rem;
  width: 3rem;
  border-radius: 0.2rem;
  background-color: goldenrod;
  color: black;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: rgb(243, 184, 36);
  color: white;
}

.moviesHeader form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.moviesHeader h1 {
  text-align: center;
  color: goldenrod;
  letter-spacing: 0.3rem;
  font-weight: lighter;
}

.serachInpt {
  border: none;
  outline: none;
  padding: 0.3rem;
  border-radius: 0.2rem;
  width: 10rem;
  transition: all 1s ease-in-out;
}

.serachInpt:focus {
  width: 20rem;
}

.advancedSearch form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.advancedSearchFiled {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advancedSearchFiled h3 {
  text-align: center;
  color: goldenrod;
  letter-spacing: 0.3rem;
  font-weight: lighter;
}

.advancedSearchFiled input {
  border: none;
  outline: none;
  width: 15rem;
  max-width: 19rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  transition: all 1s ease-in-out;
}

.advancedSearchFiled input:focus {
  width: 19rem;
}

.adancedSearchBtn {
  border: none;
  outline: none;
  background: goldenrod;
  color: rgb(36, 33, 33);
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
}

.adancedSearchBtn:hover {
  color: white;
  transform: scale(1.07);
}

.advancedSearchResetBtn {
  border: none;
  outline: none;
  background: rgb(55, 133, 55);
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
}

.advancedSearchResetBtn:hover {
  color: rgb(36, 33, 33);
  transform: scale(1.07);
}

/*----------------------------------------------------------------------------Author Page----------------------------------------------------------*/

.authorWrapper {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.authorHeader {
  color: goldenrod;
  font-size: 1.5em;
  text-align: center;
  padding: 0 30%;
}

.authorHeader h1 {
  font-weight: lighter;
}

.authorBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorCard {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 1fr;
  box-shadow: 0.2rem 0.2rem 0.25rem black;
  border-radius: 0.8rem;
}

.authorCardInfo {
  background: goldenrod;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: lighter;
  text-shadow: 0.1rem 0.1rem 0 rgb(238, 180, 35);
  font-size: large;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  text-align: center;
}

.imgWrapp img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  width: 35rem;
  height: 100%;
  filter: grayscale(100%);
  transition: all 1.5s ease-in-out;
}

.imgWrapp:hover img {
  filter: grayscale(0);
}

.imgWrapp:hover .authorSocial {
  filter: grayscale(0) drop-shadow(0.07rem 0.07rem 0.1rem black);
}

.authorSocial {
  transition: all 1.5s ease-in-out;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 5%;
  z-index: 2;
  color: goldenrod;
  font-size: 6.5em;
  filter: grayscale(100%);
}

.authorSocial li a {
  text-decoration: none;
  list-style: none;
  color: goldenrod;
}

.sortIconsWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advancedSerachWrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sortIcon {
  color: goldenrod;
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sortIcon:hover {
  color: rgb(248, 201, 83);
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
  transform: scale(1.2);
}

.noMovieWrapp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.noMovieCard{
  width: 30%;
  height: 80%;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, rgb(109, 83, 16),goldenrod);
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  color:rgb(36, 33, 33) ;
}

.noMovieCard img {
  width: 100%;
  height: 20rem;
}

/*---------------------------------------------------------------------------------Responsive---------------------------------------------------------------------------*/

@media (max-width: 991.98px) {
  .appWrapper {
    height: 100%;
  }
  body {
    font-size: 55.5%;
    height: 100%;
  }

  .card{
    height: 80vh;
    width: 65%;
    margin: 0;
    margin: 1rem 0;
  }
  .card img {
    max-height: 27rem;
  }
  .contentHeading {
    font-size: 1.1em;
  }
  .advancedSearchFiled input {
    width: 10rem;
    max-width: 14rem;
  }
  .advancedSearchFiled input:focus {
    width: 14rem;
  }
  .navLinksWrapper ul li a {
    font-size: 1.5rem;
  }
  .moviesBody {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(36, 33, 33);
  }
  .moviesFoter {
    background-color: rgb(36, 33, 33);
  }
}

@media (max-width: 767.98px) {

  body {
    font-size: 45.5%;
  }
  .appWrapper {
    height: 100%;
  }
  .moviesBody {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(36, 33, 33);
  }
  .card {
    height: 60vh;
    width: 65%;
    margin: 0;
    margin: 1rem 0;
  }
  .card img {
    max-height: 16rem;
  }
  .advancedSearchFiled input {
    width: 8rem;
    max-width: 11rem;
  }
  .advancedSearchFiled input:focus {
    width: 11rem;
  }
  .moviesFoter {
    background-color: rgb(36, 33, 33);
  }
}

@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
  .card img {
    max-height: 14rem;
  }
  body{
    font-size: 48%;
  }
  .noMovieCard{
    font-size: 1.5em;
  }
  .noMovieCard img{
    height: 10rem;
  }
  .authorCard{
    height: 28rem;
  }
  .imgWrapp img{
    width: 30rem;
    height: 20rem;
  }
}